# Задание 1

In [32]:
import json
import pandas as pd
from pymongo import MongoClient

In [33]:
def read_json(filepath:str):
    with open(filepath,'r',encoding='utf-8') as file:
        data = json.load(file)
    return data

In [42]:
def save_json(filepath: str, data: list):
    with open(filepath, mode='w', encoding='UTF-8') as file:
        file.write(data)

In [ ]:
def create_collection_and_insert_data(client,db_name, collection_name, data):
    db = client[db_name]
    collection = db[collection_name]
    result = collection.insert_many(data)

In [36]:
def get_top_10_sorted_by_salary(collection):
    results = collection.find().sort('salary', -1).limit(10)
    return list(results)

In [37]:
def get_top_15_filtered_by_age(collection):
    results = collection.find({'age': {'$lt': 30}}).sort('salary', -1).limit(15)
    return list(results)

In [38]:
def get_top_10_filtered_by_complex_condition(city, professions,collection):
    results = collection.find({
        'city': city,
        'job': {'$in': professions}
    }).sort('age', 1).limit(10)
    return list(results)

In [39]:
def count_records_filtered_by_conditions(age_range, years,collection):
    results = collection.count_documents({
        'age': {'$gte': age_range[0], '$lte': age_range[1]},
        'year': {'$in': years},
        '$or': [
            {'salary': {'$gt': 50000, '$lte': 75000}},
            {'salary': {'$gt': 125000, '$lt': 150000}}
        ]
    })
    return results

In [48]:
def first_task(insert_data:bool = False):
    client = MongoClient('mongodb://root:fskFAdsfgf2513ktbgds13515@80.87.107.237:27017')

    if insert_data:
        filepath = './55/task_1_item.json'
        data = read_json(filepath=filepath)
        create_collection_and_insert_data(client, 'practises', 'practise5', data)

    db = client['practises']
    collection = db['practise5']
    
    top_10 = get_top_10_sorted_by_salary(collection)
    json_output = json.dumps(top_10, default=str, ensure_ascii=False)
    print("Первые 10 записей по полю salary:", json_output)
 
    top_15_age = get_top_15_filtered_by_age(collection)
    json_output = json.dumps(top_15_age, default=str, ensure_ascii=False)
    print("Первые 15 записей по полю salary и предикату age<30:", json_output)

    city = 'Ереван'
    jobs = ['Программист','Инженер','Повар']
    top_10_complex = get_top_10_filtered_by_complex_condition(city, jobs,collection)
    json_output = json.dumps(top_10_complex, default=str, ensure_ascii=False)
    print("Первые 10 записей по полю salary:", json_output)

    age_range = (25, 60)
    years = [2019, 2022]
    count = count_records_filtered_by_conditions(age_range, years, collection)
    print("Count of records:", count)

In [49]:
if __name__ == '__main__':
    first_task()

Первые 10 записей по полю salary: [{"_id": "676124bd5582af2f49efefc3", "job": "Программист", "salary": 199877, "id": 1381398, "city": "Скопье", "year": 2021, "age": 54}, {"_id": "676124bd5582af2f49eff047", "job": "Оператор call-центра", "salary": 199756, "id": 3288285, "city": "Варшава", "year": 2013, "age": 48}, {"_id": "676124bd5582af2f49efeffc", "job": "Повар", "salary": 198990, "id": 8597716, "city": "Кишинев", "year": 2002, "age": 65}, {"_id": "676124bd5582af2f49eff043", "job": "Учитель", "salary": 198791, "id": 6653616, "city": "Кордова", "year": 2019, "age": 56}, {"_id": "676124bd5582af2f49efef7a", "job": "Бухгалтер", "salary": 198717, "id": 1348868, "city": "Аликанте", "year": 2019, "age": 18}, {"_id": "676124bd5582af2f49efeeaa", "job": "Водитель", "salary": 198442, "id": 6584214, "city": "Осера", "year": 2008, "age": 41}, {"_id": "676124bd5582af2f49eff016", "job": "Строитель", "salary": 198370, "id": 6818009, "city": "Санкт-Петербург", "year": 2022, "age": 43}, {"_id": "676124bd5582af2f49efefe0", "job": "Продавец", "salary": 198187, "id": 6223636, "city": "Эль-Пуэрто-де-Санта-Мария", "year": 2019, "age": 40}, {"_id": "676124bd5582af2f49eff097", "job": "Врач", "salary": 198157, "id": 5378427, "city": "Сантьяго-де-Компостела", "year": 2010, "age": 49}, {"_id": "676124bd5582af2f49eff0c0", "job": "Учитель", "salary": 197855, "id": 8346024, "city": "Астана", "year": 2009, "age": 63}]
Первые 15 записей по полю salary и предикату age<30: [{"_id": "676124bd5582af2f49efef7a", "job": "Бухгалтер", "salary": 198717, "id": 1348868, "city": "Аликанте", "year": 2019, "age": 18}, {"_id": "676124bd5582af2f49efee8c", "job": "Врач", "salary": 196309, "id": 7256385, "city": "Камбадос", "year": 2003, "age": 25}, {"_id": "676124bd5582af2f49efeff0", "job": "Оператор call-центра", "salary": 195375, "id": 2139007, "city": "Валенсия", "year": 2004, "age": 22}, {"_id": "676124bd5582af2f49eff0a0", "job": "Инженер", "salary": 195166, "id": 6052836, "city": "Прага", "year": 2010, "age": 22}, {"_id": "676124bd5582af2f49eff092", "job": "Инженер", "salary": 192397, "id": 4171601, "city": "Сантьяго-де-Компостела", "year": 2020, "age": 26}, {"_id": "676124bd5582af2f49efef41", "job": "Строитель", "salary": 189109, "id": 4607045, "city": "Пласенсия", "year": 2009, "age": 27}, {"_id": "676124bd5582af2f49eff02a", "job": "IT-специалист", "salary": 188239, "id": 1942780, "city": "Прага", "year": 2012, "age": 27}, {"_id": "676124bd5582af2f49eff003", "job": "Программист", "salary": 186590, "id": 7997634, "city": "Мартоса", "year": 2020, "age": 28}, {"_id": "676124bd5582af2f49eff099", "job": "Повар", "salary": 185188, "id": 2694174, "city": "Загреб", "year": 2019, "age": 18}, {"_id": "676124bd5582af2f49efef37", "job": "Учитель", "salary": 184197, "id": 7951702, "city": "Сеговия", "year": 2022, "age": 24}, {"_id": "676124bd5582af2f49eff058", "job": "Водитель", "salary": 183416, "id": 1588351, "city": "Подгорица", "year": 2013, "age": 20}, {"_id": "676124bd5582af2f49efeef1", "job": "Менеджер", "salary": 179630, "id": 5839045, "city": "Сория", "year": 2021, "age": 27}, {"_id": "676124bd5582af2f49efeea7", "job": "Менеджер", "salary": 179578, "id": 7958997, "city": "Льейда", "year": 2014, "age": 27}, {"_id": "676124bd5582af2f49eff078", "job": "Врач", "salary": 179053, "id": 9948649, "city": "Астана", "year": 2021, "age": 25}, {"_id": "676124bd5582af2f49efeeea", "job": "Косметолог", "salary": 178882, "id": 9602734, "city": "Сан-Себастьян", "year": 2010, "age": 20}]
Первые 10 записей по полю salary: [{"_id": "676124bd5582af2f49eff0d7", "job": "Повар", "salary": 95262, "id": 8172626, "city": "Ереван", "year": 2004, "age": 26}, {"_id": "676124bd5582af2f49eff046", "job": "Программист", "salary": 22777, "id": 6273349, "city": "Ереван", "year": 2003, "age": 27}, {"_id": "676124bd5582af2f49eff00d", "job": "Инженер", "salary": 169720, "id": 5752866, "city": "Ереван", "year": 2004, "age": 28}, {"_id": "676124bd5582af2f49eff02e", "job": "Программист", "salary": 174830, "id": 8591234, "city": "Ереван", "year": 2004, "age": 44}]
Count of records: 11

# Задание 2

In [69]:
import json
import pandas as pd

In [70]:
def get_db_connection():
    client = MongoClient('mongodb://root:fskFAdsfgf2513ktbgds13515@80.87.107.237:27017')
    db = client['practises']
    return db['practise5']

In [71]:
def get_data(filepath):
    data = []
    current_dict = {}
    
    with open(filepath, mode='r', encoding='utf-8') as file:
        for line in file:
            line = line.strip()
            if line == '=====':
                if current_dict:
                    data.append(current_dict)
                    current_dict = {}
            else:
                try:
                    key, value = line.split('::', 1)
                    current_dict[key.strip()] = value.strip()
                except ValueError:
                    print('Ошибка при считывании линии:', line)

        if current_dict:
            data.append(current_dict)

    for item in data:
        if 'salary' in item:
            item['salary'] = float(item['salary']) if item['salary'] else None
        if 'age' in item:
            item['age'] = float(item['age']) if item['age'] else None
        if 'year' in item:
            item['year'] = float(item['year']) if item['year'] else None

    return json.dumps(data, ensure_ascii=False)

In [72]:
def insert_data_from_json(json_data):
    collection = get_db_connection()
    data = json.loads(json_data)
    result = collection.insert_many(data)
    return result.inserted_ids

In [73]:
def get_salary_stats(collection):
    pipeline = [
        {
            "$group": {
                "_id": None,
                "min_salary": {"$min": "$salary"},
                "avg_salary": {"$avg": "$salary"},
                "max_salary": {"$max": "$salary"}
            }
        }
    ]
    return list(collection.aggregate(pipeline))

In [74]:
def get_profession_counts(collection):
    pipeline = [
        {
            "$group": {
                "_id": "$profession",
                "count": {"$sum": 1}
            }
        }
    ]
    return list(collection.aggregate(pipeline))

In [75]:
def get_salary_stats_by_city(collection):
    pipeline = [
        {
            "$group": {
                "_id": "$city",
                "min_salary": {"$min": "$salary"},
                "avg_salary": {"$avg": "$salary"},
                "max_salary": {"$max": "$salary"}
            }
        }
    ]
    return list(collection.aggregate(pipeline))

In [76]:
def get_salary_stats_by_profession(collection):
    pipeline = [
        {
            "$group": {
                "_id": "$profession",
                "min_salary": {"$min": "$salary"},
                "avg_salary": {"$avg": "$salary"},
                "max_salary": {"$max": "$salary"}
            }
        }
    ]
    return list(collection.aggregate(pipeline))

In [77]:
def get_age_stats_by_city(collection):
    pipeline = [
        {
            "$group": {
                "_id": "$city",
                "min_age": {"$min": "$age"},
                "avg_age": {"$avg": "$age"},
                "max_age": {"$max": "$age"}
            }
        }
    ]
    return list(collection.aggregate(pipeline))

In [78]:
def get_age_stats_by_profession(collection):
    pipeline = [
        {
            "$group": {
                "_id": "$profession",
                "min_age": {"$min": "$age"},
                "avg_age": {"$avg": "$age"},
                "max_age": {"$max": "$age"}
            }
        }
    ]
    return list(collection.aggregate(pipeline))

In [79]:
def get_max_salary_at_min_age(collection):
    pipeline = [
        {
            "$group": {
                "_id": "$age",
                "max_salary": {"$max": "$salary"}
            }
        },
        {
            "$sort": {"_id": 1}
        },
        {
            "$group": {
                "_id": None,
                "max_salary": {"$max": "$max_salary"}
            }
        }
    ]
    return list(collection.aggregate(pipeline))

In [80]:
def get_min_salary_at_max_age(collection):
    pipeline = [
        {
            "$group": {
                "_id": "$age",
                "min_salary": {"$min": "$salary"}
            }
        },
        {
            "$sort": {"_id": -1}
        },
        {
            "$group": {
                "_id": None,
                "min_salary": {"$min": "$min_salary"}
            }
        }
    ]
    return list(collection.aggregate(pipeline))

In [81]:
def get_age_stats_by_city_with_salary_filter(collection):
    pipeline = [
        {
            "$match": {
                "salary": {"$gt": 50000}
            }
        },
        {
            "$group": {
                "_id": "$city",
                "min_age": {"$min": "$age"},
                "avg_age": {"$avg": "$age"},
                "max_age": {"$max": "$age"}
            }
        },
        {
            "$sort": {"avg_age": -1}
        }
    ]
    return list(collection.aggregate(pipeline))

In [82]:
def arbitrary_query(collection):
    pipeline = [
        {
            "$match": {
                "salary": {"$gt": 30000}
            }
        },
        {
            "$group": {
                "_id": "$profession",
                "total_salary": {"$sum": "$salary"},
                "count": {"$sum": 1}
            }
        },
        {
            "$sort": {"total_salary": -1}
        }
    ]
    return list(collection.aggregate(pipeline))

In [87]:
def second_task(insert_data:bool = False):
    if insert_data:
        filepath = './55/task_2_item.text'
        data = get_data(filepath=filepath)
        insert_data_from_json(data)
    collection = get_db_connection()

    print('Вывод минимальной, средней, максимальной salary.')
    print(get_salary_stats(collection),'\n')

    print('Вывод количества данных по представленным профессиям.')
    print(get_profession_counts(collection),'\n')

    print('Вывод минимальной, средней, максимальной salary по городу.')
    print(get_salary_stats_by_city(collection),'\n')

    print('Вывод минимальной, средней, максимальной salary по профессии.')
    print(get_salary_stats_by_profession(collection),'\n')

    print('Вывод минимального, среднего, максимального возраста по городу.')
    print(get_age_stats_by_city(collection),'\n')

    print('Вывод минимального, среднего, максимального возраста по профессии.')
    print(get_age_stats_by_profession(collection),'\n')

    print('Вывод максимальной заработной платы при минимальном возрасте.')
    print(get_max_salary_at_min_age(collection),'\n')

    print('Вывод минимальной заработной платы при максимальном возрасте.')
    print(get_min_salary_at_max_age(collection),'\n')

    print('Вывод минимального, среднего, максимального возраста по городу, при условии, что заработная плата больше 50 000.')
    print(get_age_stats_by_city_with_salary_filter(collection),'\n')

    print('Произвольный запрос с $match, $group, $sort.')
    print(arbitrary_query(collection),'\n')

In [88]:
if __name__ == '__main__':
    second_task()

Вывод минимальной, средней, максимальной salary.
[{'_id': None, 'min_salary': 20048.0, 'avg_salary': 112565.46126033057, 'max_salary': 199877}]

Вывод количества данных по представленным профессиям.
[{'_id': None, 'count': 1936}]

Вывод минимальной, средней, максимальной salary по городу.
[{'_id': 'Трухильо', 'min_salary': 47067, 'avg_salary': 122136.86956521739, 'max_salary': 175688.0}, {'_id': 'Кадакес', 'min_salary': 22159.0, 'avg_salary': 113175.11111111111, 'max_salary': 195195.0}, {'_id': 'Вильнюс', 'min_salary': 27872, 'avg_salary': 97170.63157894737, 'max_salary': 188083}, {'_id': 'Белград', 'min_salary': 29002, 'avg_salary': 111712.29166666667, 'max_salary': 189197}, {'_id': 'Алькала-де-Энарес', 'min_salary': 82881.0, 'avg_salary': 146192.05555555556, 'max_salary': 196132}, {'_id': 'Подгорица', 'min_salary': 29740, 'avg_salary': 109322.16666666667, 'max_salary': 188582.0}, {'_id': 'Мадрид', 'min_salary': 30417, 'avg_salary': 111220.43478260869, 'max_salary': 195031.0}, {'_id': 'Хихон', 'min_salary': 21062.0, 'avg_salary': 110479.41176470589, 'max_salary': 186450.0}, {'_id': 'Вальядолид', 'min_salary': 29192.0, 'avg_salary': 86402.7, 'max_salary': 164960}, {'_id': 'Бильбао', 'min_salary': 31879.0, 'avg_salary': 102397.46666666666, 'max_salary': 170728}, {'_id': 'Тудела', 'min_salary': 21730, 'avg_salary': 119142.60869565218, 'max_salary': 192329}, {'_id': 'Афины', 'min_salary': 37119, 'avg_salary': 95573.94736842105, 'max_salary': 181557}, {'_id': 'Валенсия', 'min_salary': 22621, 'avg_salary': 114080.87096774194, 'max_salary': 195375}, {'_id': 'Авилес', 'min_salary': 26374, 'avg_salary': 105912.29629629629, 'max_salary': 196877.0}, {'_id': 'Аликанте', 'min_salary': 66548.0, 'avg_salary': 148034.63636363635, 'max_salary': 198717}, {'_id': 'Варшава', 'min_salary': 27489.0, 'avg_salary': 117186.08695652174, 'max_salary': 199756}, {'_id': 'Тирана', 'min_salary': 40119, 'avg_salary': 126859.08571428571, 'max_salary': 194343}, {'_id': 'Эль-Пуэрто-де-Санта-Мария', 'min_salary': 24761.0, 'avg_salary': 129954.85294117648, 'max_salary': 199822.0}, {'_id': 'Сан-Себастьян', 'min_salary': 32839.0, 'avg_salary': 112707.42857142857, 'max_salary': 178882}, {'_id': 'Овьедо', 'min_salary': 38033.0, 'avg_salary': 109847.42857142857, 'max_salary': 190073}, {'_id': 'Малага', 'min_salary': 35496, 'avg_salary': 118201.03571428571, 'max_salary': 192568}, {'_id': 'Камбадос', 'min_salary': 38047, 'avg_salary': 118250.5294117647, 'max_salary': 196309}, {'_id': 'Сория', 'min_salary': 21280, 'avg_salary': 101461.88461538461, 'max_salary': 187905.0}, {'_id': 'Кишинев', 'min_salary': 38429, 'avg_salary': 124823.15, 'max_salary': 198990}, {'_id': 'Осера', 'min_salary': 26551, 'avg_salary': 134932.1052631579, 'max_salary': 198442}, {'_id': 'Навалькарнеро', 'min_salary': 29894, 'avg_salary': 83936.4705882353, 'max_salary': 197450}, {'_id': 'Эльче', 'min_salary': 24545.0, 'avg_salary': 112601.38888888889, 'max_salary': 199043.0}, {'_id': 'Сеговия', 'min_salary': 26166.0, 'avg_salary': 125406.88461538461, 'max_salary': 199742.0}, {'_id': 'Ла-Корунья', 'min_salary': 34487.0, 'avg_salary': 104092.32, 'max_salary': 187390.0}, {'_id': 'Кордова', 'min_salary': 35597.0, 'avg_salary': 114394.23529411765, 'max_salary': 198791}, {'_id': 'Любляна', 'min_salary': 24026.0, 'avg_salary': 95773.1, 'max_salary': 178824}, {'_id': 'Хельсинки', 'min_salary': 52272, 'avg_salary': 128156.0, 'max_salary': 188674}, {'_id': 'Рига', 'min_salary': 49252.0, 'avg_salary': 114326.30769230769, 'max_salary': 188487}, {'_id': 'София', 'min_salary': 21102.0, 'avg_salary': 110169.63333333333, 'max_salary': 193701.0}, {'_id': 'Бишкек', 'min_salary': 33701.0, 'avg_salary': 117984.27272727272, 'max_salary': 199287.0}, {'_id': 'Баку', 'min_salary': 35357.0, 'avg_salary': 121213.6, 'max_salary': 198830.0}, {'_id': 'Лас-Росас', 'min_salary': 22864, 'avg_salary': 116432.18518518518, 'max_salary': 192540}, {'_id': 'Краков', 'min_salary': 27741, 'avg_salary': 92629.83333333333, 'max_salary': 167147}, {'_id': 'Мерида', 'min_salary': 20147.0, 'avg_salary': 83359.27272727272, 'max_salary': 193719}, {'_id': 'Астана', 'min_salary': 23808.0, 'avg_salary': 127661.38461538461, 'max_salary': 197855}, {'_id': 'Фигерас', 'min_salary': 46551.0, 'avg_salary': 103153.22222222222, 'max_salary': 183258}, {'_id': 'Бланес', 'min_salary': 20048.0, 'avg_salary': 121135.26315789473, 'max_salary': 194507.0}, {'_id': 'Москва', 'min_salary': 57709.0, 'avg_salary': 125414.47368421052, 'max_salary': 177721.0}, {'_id': 'Сантьяго-де-Компостела', 'min_salary': 28833.0, 'avg_salary': 128760.95652173914, 'max_salary': 198157}, {'_id': 'Пласенсия', 'min_salary': 23910.0, 'avg_salary': 97653.62962962964, 'max_salary': 189109}, {'_id': 'Таллин', 'min_salary': 27498, 'avg_salary': 109899.10714285714, 'max_salary': 197254}, {'_id': 'Будапешт', 'min_salary': 49475, 'avg_salary': 120299.8, 'max_salary': 173663.0}, {'_id': 'Бургос', 'min_salary': 31155.0, 'avg_salary': 116633.40909090909, 'max_salary': 178085.0}, {'_id': 'Гранада', 'min_salary': 31555.0, 'avg_salary': 115810.89285714286, 'max_salary': 191820.0}, {'_id': 'Сараево', 'min_salary': 25939, 'avg_salary': 110106.72413793103, 'max_salary': 179849.0}, {'_id': 'Севилья', 'min_salary': 35494.0, 'avg_salary': 98363.29411764706, 'max_salary': 179214.0}, {'_id': 'Луго', 'min_salary': 20459.0, 'avg_salary': 92341.67857142857, 'max_salary': 166567.0}, {'_id': 'Душанбе', 'min_salary': 38097, 'avg_salary': 146051.42857142858, 'max_salary': 195614}, {'_id': 'Прага', 'min_salary': 22763.0, 'avg_salary': 87672.65217391304, 'max_salary': 195166}, {'_id': 'Монсон', 'min_salary': 28085, 'avg_salary': 118846.96153846153, 'max_salary': 196777}, {'_id': 'Тарраса', 'min_salary': 20971.0, 'avg_salary': 112300.07407407407, 'max_salary': 191716.0}, {'_id': 'Артейхо', 'min_salary': 26306, 'avg_salary': 125179.94444444444, 'max_salary': 198629.0}, {'_id': 'Вильявисиоса', 'min_salary': 37011.0, 'avg_salary': 115302.65384615384, 'max_salary': 194384}, {'_id': 'Санкт-Петербург', 'min_salary': 31413.0, 'avg_salary': 117811.84615384616, 'max_salary': 198370}, {'_id': 'Луарка', 'min_salary': 24708, 'avg_salary': 115277.6, 'max_salary': 168391.0}, {'_id': 'Минск', 'min_salary': 37152.0, 'avg_salary': 112342.80645161291, 'max_salary': 192210.0}, {'_id': 'Сьюдад-Реаль', 'min_salary': 27449, 'avg_salary': 109648.19047619047, 'max_salary': 183893}, {'_id': 'Скопье', 'min_salary': 25200.0, 'avg_salary': 101938.75, 'max_salary': 199877}, {'_id': 'Картахена', 'min_salary': 23368, 'avg_salary': 112914.62068965517, 'max_salary': 196427.0}, {'_id': 'Виго', 'min_salary': 24763, 'avg_salary': 105766.94444444444, 'max_salary': 192886.0}, {'_id': 'Ереван', 'min_salary': 22777, 'avg_salary': 104119.6875, 'max_salary': 179296.0}, {'_id': 'Мартоса', 'min_salary': 28263.0, 'avg_salary': 114453.81481481482, 'max_salary': 199305.0}, {'_id': 'Тбилиси', 'min_salary': 51053.0, 'avg_salary': 119985.15151515152, 'max_salary': 190095}, {'_id': 'Барселона', 'min_salary': 42199.0, 'avg_salary': 85659.26666666666, 'max_salary': 175696}, {'_id': 'Санхенхо', 'min_salary': 30952.0, 'avg_salary': 119904.07142857143, 'max_salary': 192066.0}, {'_id': 'Ташкент', 'min_salary': 21362.0, 'avg_salary': 111482.82142857143, 'max_salary': 191095.0}, {'_id': 'Самора', 'min_salary': 24614, 'avg_salary': 94949.92, 'max_salary': 179344}, {'_id': 'Алма-Ата', 'min_salary': 56237.0, 'avg_salary': 103173.2, 'max_salary': 172436.0}, {'_id': 'Мурсия', 'min_salary': 23938, 'avg_salary': 108452.84375, 'max_salary': 178259.0}, {'_id': 'Куэнка', 'min_salary': 32155.0, 'avg_salary': 125767.42857142857, 'max_salary': 193850.0}, {'_id': 'Махадаонда', 'min_salary': 28979.0, 'avg_salary': 103705.52631578948, 'max_salary': 177354}, {'_id': 'Семана', 'min_salary': 70211.0, 'avg_salary': 119647.90476190476, 'max_salary': 183667.0}, {'_id': 'Загреб', 'min_salary': 39990, 'avg_salary': 111002.23076923077, 'max_salary': 185188}, {'_id': 'Касерес', 'min_salary': 28498.0, 'avg_salary': 92027.77777777778, 'max_salary': 163978}, {'_id': 'Вроцлав', 'min_salary': 25164.0, 'avg_salary': 137744.04761904763, 'max_salary': 198957.0}, {'_id': 'Льейда', 'min_salary': 21239, 'avg_salary': 101235.39285714286, 'max_salary': 179578}]

Вывод минимальной, средней, максимальной salary по профессии.
[{'_id': None, 'min_salary': 20048.0, 'avg_salary': 112565.46126033057, 'max_salary': 199877}]

Вывод минимального, среднего, максимального возраста по городу.
[{'_id': 'Трухильо', 'min_age': 19.0, 'avg_age': 40.08695652173913, 'max_age': 65}, {'_id': 'Кадакес', 'min_age': 20, 'avg_age': 38.25925925925926, 'max_age': 59}, {'_id': 'Вильнюс', 'min_age': 19, 'avg_age': 47.0, 'max_age': 62}, {'_id': 'Белград', 'min_age': 20, 'avg_age': 42.75, 'max_age': 63.0}, {'_id': 'Алькала-де-Энарес', 'min_age': 23.0, 'avg_age': 34.388888888888886, 'max_age': 50.0}, {'_id': 'Подгорица', 'min_age': 19.0, 'avg_age': 37.333333333333336, 'max_age': 64}, {'_id': 'Мадрид', 'min_age': 27.0, 'avg_age': 47.08695652173913, 'max_age': 63.0}, {'_id': 'Хихон', 'min_age': 19.0, 'avg_age': 45.15686274509804, 'max_age': 65}, {'_id': 'Вальядолид', 'min_age': 20, 'avg_age': 42.2, 'max_age': 60}, {'_id': 'Бильбао', 'min_age': 20.0, 'avg_age': 37.0, 'max_age': 61}, {'_id': 'Тудела', 'min_age': 23, 'avg_age': 46.82608695652174, 'max_age': 59.0}, {'_id': 'Афины', 'min_age': 19, 'avg_age': 35.526315789473685, 'max_age': 60}, {'_id': 'Валенсия', 'min_age': 20.0, 'avg_age': 36.096774193548384, 'max_age': 62.0}, {'_id': 'Авилес', 'min_age': 25.0, 'avg_age': 42.74074074074074, 'max_age': 62}, {'_id': 'Аликанте', 'min_age': 18, 'avg_age': 40.54545454545455, 'max_age': 64}, {'_id': 'Варшава', 'min_age': 18.0, 'avg_age': 39.26086956521739, 'max_age': 65.0}, {'_id': 'Тирана', 'min_age': 18, 'avg_age': 43.34285714285714, 'max_age': 65.0}, {'_id': 'Эль-Пуэрто-де-Санта-Мария', 'min_age': 18, 'avg_age': 42.705882352941174, 'max_age': 64}, {'_id': 'Сан-Себастьян', 'min_age': 20.0, 'avg_age': 40.523809523809526, 'max_age': 63}, {'_id': 'Овьедо', 'min_age': 20.0, 'avg_age': 40.333333333333336, 'max_age': 65}, {'_id': 'Малага', 'min_age': 21.0, 'avg_age': 41.92857142857143, 'max_age': 65.0}, {'_id': 'Камбадос', 'min_age': 25, 'avg_age': 48.1764705882353, 'max_age': 64.0}, {'_id': 'Сория', 'min_age': 18.0, 'avg_age': 37.5, 'max_age': 63}, {'_id': 'Кишинев', 'min_age': 22.0, 'avg_age': 41.3, 'max_age': 65}, {'_id': 'Осера', 'min_age': 22, 'avg_age': 41.578947368421055, 'max_age': 64}, {'_id': 'Навалькарнеро', 'min_age': 22.0, 'avg_age': 37.88235294117647, 'max_age': 61}, {'_id': 'Эльче', 'min_age': 19, 'avg_age': 42.388888888888886, 'max_age': 62.0}, {'_id': 'Сеговия', 'min_age': 18.0, 'avg_age': 36.26923076923077, 'max_age': 65}, {'_id': 'Ла-Корунья', 'min_age': 23, 'avg_age': 44.0, 'max_age': 65.0}, {'_id': 'Кордова', 'min_age': 23.0, 'avg_age': 36.8235294117647, 'max_age': 59.0}, {'_id': 'Любляна', 'min_age': 18, 'avg_age': 39.96666666666667, 'max_age': 60.0}, {'_id': 'Хельсинки', 'min_age': 22, 'avg_age': 38.53333333333333, 'max_age': 59}, {'_id': 'Рига', 'min_age': 18.0, 'avg_age': 46.69230769230769, 'max_age': 65.0}, {'_id': 'София', 'min_age': 20, 'avg_age': 46.266666666666666, 'max_age': 65}, {'_id': 'Бишкек', 'min_age': 19.0, 'avg_age': 41.45454545454545, 'max_age': 65.0}, {'_id': 'Баку', 'min_age': 18.0, 'avg_age': 46.08, 'max_age': 61.0}, {'_id': 'Лас-Росас', 'min_age': 20.0, 'avg_age': 38.77777777777778, 'max_age': 63}, {'_id': 'Краков', 'min_age': 21.0, 'avg_age': 48.111111111111114, 'max_age': 65.0}, {'_id': 'Мерида', 'min_age': 19.0, 'avg_age': 39.22727272727273, 'max_age': 51.0}, {'_id': 'Астана', 'min_age': 22.0, 'avg_age': 38.61538461538461, 'max_age': 63}, {'_id': 'Фигерас', 'min_age': 20, 'avg_age': 46.111111111111114, 'max_age': 64.0}, {'_id': 'Бланес', 'min_age': 18.0, 'avg_age': 40.10526315789474, 'max_age': 65}, {'_id': 'Москва', 'min_age': 23.0, 'avg_age': 33.21052631578947, 'max_age': 50.0}, {'_id': 'Сантьяго-де-Компостела', 'min_age': 19, 'avg_age': 41.21739130434783, 'max_age': 63}, {'_id': 'Пласенсия', 'min_age': 20.0, 'avg_age': 43.7037037037037, 'max_age': 63}, {'_id': 'Таллин', 'min_age': 22.0, 'avg_age': 39.642857142857146, 'max_age': 63.0}, {'_id': 'Будапешт', 'min_age': 31, 'avg_age': 43.733333333333334, 'max_age': 61}, {'_id': 'Бургос', 'min_age': 19, 'avg_age': 39.72727272727273, 'max_age': 61}, {'_id': 'Гранада', 'min_age': 21.0, 'avg_age': 40.07142857142857, 'max_age': 63.0}, {'_id': 'Сараево', 'min_age': 18.0, 'avg_age': 38.48275862068966, 'max_age': 60.0}, {'_id': 'Севилья', 'min_age': 19, 'avg_age': 40.588235294117645, 'max_age': 61.0}, {'_id': 'Луго', 'min_age': 25, 'avg_age': 46.857142857142854, 'max_age': 65.0}, {'_id': 'Душанбе', 'min_age': 19.0, 'avg_age': 39.357142857142854, 'max_age': 58}, {'_id': 'Прага', 'min_age': 21.0, 'avg_age': 40.391304347826086, 'max_age': 63.0}, {'_id': 'Монсон', 'min_age': 20, 'avg_age': 39.5, 'max_age': 64}, {'_id': 'Тарраса', 'min_age': 18.0, 'avg_age': 35.55555555555556, 'max_age': 60}, {'_id': 'Артейхо', 'min_age': 18.0, 'avg_age': 43.111111111111114, 'max_age': 64.0}, {'_id': 'Вильявисиоса', 'min_age': 20.0, 'avg_age': 44.46153846153846, 'max_age': 64.0}, {'_id': 'Санкт-Петербург', 'min_age': 18, 'avg_age': 36.92307692307692, 'max_age': 64}, {'_id': 'Луарка', 'min_age': 20.0, 'avg_age': 32.5, 'max_age': 49}, {'_id': 'Минск', 'min_age': 22, 'avg_age': 43.935483870967744, 'max_age': 65.0}, {'_id': 'Сьюдад-Реаль', 'min_age': 20, 'avg_age': 38.80952380952381, 'max_age': 64.0}, {'_id': 'Скопье', 'min_age': 20.0, 'avg_age': 50.714285714285715, 'max_age': 65.0}, {'_id': 'Картахена', 'min_age': 22.0, 'avg_age': 39.86206896551724, 'max_age': 65}, {'_id': 'Виго', 'min_age': 18, 'avg_age': 42.94444444444444, 'max_age': 62}, {'_id': 'Ереван', 'min_age': 20.0, 'avg_age': 43.4375, 'max_age': 64}, {'_id': 'Мартоса', 'min_age': 26.0, 'avg_age': 48.96296296296296, 'max_age': 61.0}, {'_id': 'Тбилиси', 'min_age': 19.0, 'avg_age': 42.39393939393939, 'max_age': 64.0}, {'_id': 'Барселона', 'min_age': 21.0, 'avg_age': 37.46666666666667, 'max_age': 63}, {'_id': 'Санхенхо', 'min_age': 18.0, 'avg_age': 42.535714285714285, 'max_age': 65.0}, {'_id': 'Ташкент', 'min_age': 20.0, 'avg_age': 40.285714285714285, 'max_age': 63.0}, {'_id': 'Самора', 'min_age': 24, 'avg_age': 39.84, 'max_age': 64.0}, {'_id': 'Алма-Ата', 'min_age': 22, 'avg_age': 40.6, 'max_age': 61}, {'_id': 'Мурсия', 'min_age': 18.0, 'avg_age': 40.5, 'max_age': 63.0}, {'_id': 'Куэнка', 'min_age': 19, 'avg_age': 44.535714285714285, 'max_age': 63.0}, {'_id': 'Махадаонда', 'min_age': 20.0, 'avg_age': 40.26315789473684, 'max_age': 65}, {'_id': 'Семана', 'min_age': 20.0, 'avg_age': 41.38095238095238, 'max_age': 56.0}, {'_id': 'Загреб', 'min_age': 18, 'avg_age': 35.23076923076923, 'max_age': 64.0}, {'_id': 'Касерес', 'min_age': 26, 'avg_age': 43.96296296296296, 'max_age': 64.0}, {'_id': 'Вроцлав', 'min_age': 22.0, 'avg_age': 37.095238095238095, 'max_age': 63.0}, {'_id': 'Льейда', 'min_age': 18, 'avg_age': 41.857142857142854, 'max_age': 65}]

Вывод минимального, среднего, максимального возраста по профессии.
[{'_id': None, 'min_age': 18.0, 'avg_age': 41.38068181818182, 'max_age': 65.0}]

Вывод максимальной заработной платы при минимальном возрасте.
[{'_id': None, 'max_salary': 199877}]

Вывод минимальной заработной платы при максимальном возрасте.
[{'_id': None, 'min_salary': 20048.0}]

Вывод минимального, среднего, максимального возраста по городу, при условии, что заработная плата больше 50 000.

# Задание 3

In [ ]:
import json
import pandas as pd
import random
from pymongo import MongoClient

In [98]:
def get_data_from_csv(filepath:str):
    df = pd.read_csv(filepath,sep=';')
    json_string = df.to_json(orient='records', force_ascii=False)
    return json_string

In [99]:
def get_db_connection():
    client = MongoClient('mongodb://root:fskFAdsfgf2513ktbgds13515@80.87.107.237:27017')
    db = client['practises']
    return db['practise5']

In [ ]:
def insert_data_from_json(json_data):
    collection = get_db_connection()
    data = json.loads(json_data)
    result = collection.insert_many(data)

In [101]:
def delete_documents_by_salary(collection):
    result = collection.delete_many({"$or": [{"salary": {"$lt": 25000}}, {"salary": {"$gt": 175000}}]})
    return result.deleted_count

In [102]:
def increment_age(collection):
    result = collection.update_many({}, {"$inc": {"age": 1}})
    return result.modified_count

In [103]:
def increase_salary_for_random_professions(collection, professions):
    selected_profession = random.choice(professions)
    result = collection.update_many({"profession": selected_profession}, {"$mul": {"salary": 1.05}})
    return result.modified_count

In [104]:
def increase_salary_for_random_cities(collection, cities):
    selected_city = random.choice(cities)
    result = collection.update_many({"city": selected_city}, {"$mul": {"salary": 1.07}})
    return result.modified_count

In [105]:
def increase_salary_by_complex_predicate(collection, city, professions, age_range):
    result = collection.update_many(
        {
            "city": city,
            "profession": {"$in": professions},
            "age": {"$gte": age_range[0], "$lte": age_range[1]}
        },
        {"$mul": {"salary": 1.10}}
    )
    return result.modified_count

In [106]:
def delete_documents_by_custom_predicate(collection, predicate):
    result = collection.delete_many(predicate)
    return result.deleted_count

In [ ]:
def third_task(insert_data:bool = True):
    if insert_data:
        filepath = './55/task_3_item.csv'
        data = get_data_from_csv(filepath)
        insert_data_from_json(data)

    collection = get_db_connection()

    deleted_count = delete_documents_by_salary(collection)
    print(f"Удалить документы по предикату: {deleted_count}")

    incremented_count = increment_age(collection)
    print(f"Увеличить возраст: {incremented_count}")

    professions = ['IT-специалист', 'Врач']
    increased_salary_count = increase_salary_for_random_professions(collection, professions)
    print(f"Поднять зарплату на 5% для произвольно выбранных профессий: {increased_salary_count}")

    cities =['Сан-Себастьян', 'Афины']
    increased_salary_city_count = increase_salary_for_random_cities(collection, cities)
    print(f"Поднять зарплату на 7% для произвольно выбранных городов: {increased_salary_city_count}")

    city = 'Тбилиси' 
    professions = ['Инженер', 'Менеджер'] 
    age_range = (20, 60)
    increased_salary_complex_count = increase_salary_by_complex_predicate(collection, city, professions, age_range)
    print(f"Поднять зарплату на 10% для выборки по сложному предикату: {increased_salary_complex_count}")

    custom_predicate = {"age": {"$lt": 30}} 
    deleted_custom_count = delete_documents_by_custom_predicate(collection, custom_predicate)
    print(f"Удалить записи по произвольному предикату: {deleted_custom_count}")

In [112]:
if __name__ == '__main__':
    third_task()

Удалить документы по предикату: 123
Увеличить возраст: 2330
Поднять зарплату на 5% для произвольно выбранных профессий: 0
Поднять зарплату на 7% для произвольно выбранных городов: 23
Поднять зарплату на 10% для выборки по сложному предикату: 0
Удалить записи по произвольному предикату: 137

# Задание 4

*Предметная область: покемоны*

In [144]:
import json
import pandas as pd
import requests
from pymongo import MongoClient
from tqdm import tqdm

In [145]:
def get_db_connection(collection_name:str, db_name:str='practises'):
    client = MongoClient('mongodb://root:fskFAdsfgf2513ktbgds13515@80.87.107.237:27017')
    db = client[db_name]
    return db[collection_name]

In [146]:
def save_json(data, filepath):
    with open(filepath, 'w', encoding='utf-8') as f:
        json.dump(data, f, ensure_ascii=False, indent=4)

In [147]:
def fetch_pokemon_data(limit=800):
    base_url = "https://pokeapi.co/api/v2/pokemon/"
    all_pokemon = []

    num_requests = limit // 20 + (1 if limit % 20 > 0 else 0)

    for offset in tqdm(range(0, limit, 20), total=num_requests, desc="Fetching Pokémon"):
        response = requests.get(f"{base_url}?limit=20&offset={offset}")
        
        if response.status_code == 200:
            data = response.json()
            for pokemon in data['results']:
                pokemon_response = requests.get(pokemon['url'])
                if pokemon_response.status_code == 200:
                    pokemon_data = pokemon_response.json()
                    combined_data = {
                        'name': pokemon_data['name'],
                        'id': pokemon_data['id'],
                        'height': pokemon_data['height'],
                        'weight': pokemon_data['weight'],
                        'types': [type_info['type']['name'] for type_info in pokemon_data['types']],
                        'abilities': [ability_info['ability']['name'] for ability_info in pokemon_data['abilities']],
                        'stats': {stat['stat']['name']: stat['base_stat'] for stat in pokemon_data['stats']}
                    }
                    all_pokemon.append(combined_data)
                else:
                    print(f"Failed to retrieve data for {pokemon['name']}: {pokemon_response.status_code}")
        else:
            print(f"Failed to retrieve data: {response.status_code}")
            break

    return all_pokemon

In [148]:
def load_pokemon_data_to_mongo(filepath):    
    with open(filepath, 'r', encoding='utf-8') as f:
        pokemons = json.load(f)
    return pokemons

In [149]:
def insert_data_from_json(json_data, collection_name):
    collection = get_db_connection(collection_name)
    result = collection.insert_many(json_data)

In [150]:
def get_first_10_pokemons(condition=None):
    collection = get_db_connection('pokemons')  
    if condition:
        return list(collection.find(condition).limit(10))
    return list(collection.find().limit(10))

In [151]:
def count_pokemons_by_conditions(conditions):
    collection = get_db_connection('pokemons')
    return collection.count_documents(conditions)

In [152]:
def get_statistical_parameters(field):
    collection = get_db_connection('pokemons') 
    max_value = collection.find_one(sort=[(field, -1)])
    min_value = collection.find_one(sort=[(field, 1)])
    avg_value = collection.aggregate([
        {"$group": {"_id": None, "average": {"$avg": f"${field}"}}}
    ])
    average = list(avg_value)[0]['average'] if avg_value else None

    return {
        "max": max_value[field] if max_value else None,
        "min": min_value[field] if min_value else None,
        "average": average
    }

In [153]:
def get_max_min_by_condition(condition, field):
    collection = get_db_connection('pokemons')
    max_value = collection.find_one(condition, sort=[(field, -1)])
    min_value = collection.find_one(condition, sort=[(field, 1)])

    return {
        "max": max_value[field] if max_value else None,
        "min": min_value [field] if min_value else None
    }

In [154]:
def delete_pokemons_by_condition(condition):
    collection = get_db_connection('pokemons')
    result = collection.delete_many(condition)
    return result.deleted_count

In [155]:
def update_pokemons_by_condition(condition, update_data):
    collection = get_db_connection('pokemons')
    result = collection.update_many(condition, {"$set": update_data})
    return result.modified_count

In [ ]:
def fourth_task(insert_data: bool = False):
    if insert_data:
        data = fetch_pokemon_data()
        save_json(data=data, filepath='./Answers/pokemons.json')
        data = load_pokemon_data_to_mongo(filepath='./Answers/pokemons.json')
        insert_data_from_json(data, 'pokemons')
        
    print(get_first_10_pokemons())
    print(count_pokemons_by_conditions({"types": "fire"}))
    print(get_statistical_parameters("height"))
    print(get_max_min_by_condition({"types": "water"}, "weight"))
    print(delete_pokemons_by_condition({"name": "pikachu"}))
    print(update_pokemons_by_condition({"name": "bulbasaur"}, {"height": 7}))

In [157]:
if __name__ == "__main__":
    fourth_task(True)

Fetching Pokémon: 100%|██████████| 40/40 [05:18<00:00,  7.96s/it]

[{'_id': ObjectId('6761679a5582af2f49efff1d'), 'name': 'bulbasaur', 'id': 1, 'height': 7, 'weight': 69, 'types': ['grass', 'poison'], 'abilities': ['overgrow', 'chlorophyll'], 'stats': {'hp': 45, 'attack': 49, 'defense': 49, 'special-attack': 65, 'special-defense': 65, 'speed': 45}}, {'_id': ObjectId('6761679a5582af2f49efff1e'), 'name': 'ivysaur', 'id': 2, 'height': 10, 'weight': 130, 'types': ['grass', 'poison'], 'abilities': ['overgrow', 'chlorophyll'], 'stats': {'hp': 60, 'attack': 62, 'defense': 63, 'special-attack': 80, 'special-defense': 80, 'speed': 60}}, {'_id': ObjectId('6761679a5582af2f49efff1f'), 'name': 'venusaur', 'id': 3, 'height': 20, 'weight': 1000, 'types': ['grass', 'poison'], 'abilities': ['overgrow', 'chlorophyll'], 'stats': {'hp': 80, 'attack': 82, 'defense': 83, 'special-attack': 100, 'special-defense': 100, 'speed': 80}}, {'_id': ObjectId('6761679a5582af2f49efff20'), 'name': 'charmander', 'id': 4, 'height': 6, 'weight': 85, 'types': ['fire'], 'abilities': ['blaze', 'solar-power'], 'stats': {'hp': 39, 'attack': 52, 'defense': 43, 'special-attack': 60, 'special-defense': 50, 'speed': 65}}, {'_id': ObjectId('6761679a5582af2f49efff21'), 'name': 'charmeleon', 'id': 5, 'height': 11, 'weight': 190, 'types': ['fire'], 'abilities': ['blaze', 'solar-power'], 'stats': {'hp': 58, 'attack': 64, 'defense': 58, 'special-attack': 80, 'special-defense': 65, 'speed': 80}}, {'_id': ObjectId('6761679a5582af2f49efff22'), 'name': 'charizard', 'id': 6, 'height': 17, 'weight': 905, 'types': ['fire', 'flying'], 'abilities': ['blaze', 'solar-power'], 'stats': {'hp': 78, 'attack': 84, 'defense': 78, 'special-attack': 109, 'special-defense': 85, 'speed': 100}}, {'_id': ObjectId('6761679a5582af2f49efff23'), 'name': 'squirtle', 'id': 7, 'height': 5, 'weight': 90, 'types': ['water'], 'abilities': ['torrent', 'rain-dish'], 'stats': {'hp': 44, 'attack': 48, 'defense': 65, 'special-attack': 50, 'special-defense': 64, 'speed': 43}}, {'_id': ObjectId('6761679a5582af2f49efff24'), 'name': 'wartortle', 'id': 8, 'height': 10, 'weight': 225, 'types': ['water'], 'abilities': ['torrent', 'rain-dish'], 'stats': {'hp': 59, 'attack': 63, 'defense': 80, 'special-attack': 65, 'special-defense': 80, 'speed': 58}}, {'_id': ObjectId('6761679a5582af2f49efff25'), 'name': 'blastoise', 'id': 9, 'height': 16, 'weight': 855, 'types': ['water'], 'abilities': ['torrent', 'rain-dish'], 'stats': {'hp': 79, 'attack': 83, 'defense': 100, 'special-attack': 85, 'special-defense': 105, 'speed': 78}}, {'_id': ObjectId('6761679a5582af2f49efff26'), 'name': 'caterpie', 'id': 10, 'height': 3, 'weight': 29, 'types': ['bug'], 'abilities': ['shield-dust', 'run-away'], 'stats': {'hp': 45, 'attack': 30, 'defense': 35, 'special-attack': 20, 'special-defense': 20, 'speed': 45}}]
63
{'max': 145, 'min': 1, 'average': 11.5425}
{'max': 3980, 'min': 3}
1
0